<a href="https://colab.research.google.com/github/weqsful/collabfiles/blob/main/%D0%91%D0%BB%D0%BE%D0%BA%D0%BD%D0%BE%D1%82_3_%D0%9B%D0%B8%D0%B4%D0%B6%D0%B8%D0%B3%D0%BE%D1%80%D1%8F%D0%B5%D0%B2%D0%B0_%D0%94_%D0%90_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Итак, перед тем, как браться за статистику, нужно:

**1. Прочесть исходный файл и превратить его в структуру данных**

К заданию прилагается файл в формате csv, где все значения разделены запятыми. Это наши исходные данные. Чтобы применить к ним все возможности языка Python и библиотеки Pandas, надо импортировать эту библиотеку и сохранить её в переменной. По сокращённому названию панельных данных (panel data), с которых начиналась Pandas, эту переменную принято называть pd:

**import pandas as pd**

Для чтения csv-файла в библиотеке Pandas есть готовая функция — метод **read_csv()**. Как и все методы, он вызывается записью через точку после имени своего объекта. В скобках указывается аргумент (параметр) метода. У read_csv() это имя файла с данными. Прочтение превращает файл в структуру данных DataFrame. Имя переменной, в которой эта структура данных сохраняется, чаще всего df либо отражает тематику данных:

**df = pd.read_csv('music_log.csv')**

**2. Посмотреть на данные**

Вывести на экран таблицу и оценить данные:

print(df)
Как правило, таблица очень велика. Практичнее запросить определённое количество первых строк, методом head().

**3. Оценить качество предподготовки**

Нужно убедиться в том, что данные прошли предподготовку. По крайней мере, не должно быть пропусков и повторов. Пропущенные и неопределённые значения выявляет метод **isna()**, а суммарное количество таких значений — метод **sum()**.

**print(df.isna().sum())**


Повторяющиеся строки — дубликаты — выявляются методом **duplicated()** и подсчитываются тем же sum():

**print(df.duplicated().sum())**
Если возвращаются нули, всё хорошо — данные пригодны для исследования.

## Задача

1. Загрузите таблицу **exoplanet_catalog**, содержащую данные о планетах за пределами Солнечной системы, или экзопланетах. Сформируйте из данной таблицы новый датасет под назанием **exoplanet**, коорая будет содердать стоблцы name, mass, radius, discovered. Проверьте, чтобы название всех столбцов было корректным, при необходмости измените названия.

2. Удалите из получившейся таблица строки с нулевыми значениями.

3. Убедитесь, что таблица не содержит ни пропущенных значений, ни дубликатов.

In [ ]:
import pandas as pd
exoplanet_catalog = pd.read_csv('exoplanet_catalog.csv')
print(exoplanet_catalog)
exoplanet = exoplanet_catalog[['# name', 'mass', 'radius', 'discovered']]
exoplanet.columns = ['Название', 'Масса', 'Радиус', 'Дата открытия']

exoplanet = exoplanet[~exoplanet.isnull().any(axis=1)]

print("Количество пропущенных значений:", exoplanet.isna().sum())
print("Количество дубликатов:", exoplanet.duplicated().sum())
print(exoplanet)

         # name planet_status   mass  mass_error_min  mass_error_max  \
0      11 Com b     Confirmed    NaN             NaN             NaN
1      11 Oph b     Confirmed  21.00            3.00            3.00
2      11 UMi b     Confirmed    NaN             NaN             NaN
3      14 And b     Confirmed    NaN             NaN             NaN
4      14 Her b     Confirmed    NaN             NaN             NaN
...         ...           ...    ...             ...             ...
4791  ups And b     Confirmed   0.62            0.09             inf
4792  ups And c     Confirmed   9.10            2.93            5.04
4793  ups And d     Confirmed  23.58            2.29            2.93
4794  ups And e     Confirmed    NaN             NaN             NaN
4795  zet Del B     Confirmed  40.00            5.00           15.00

      mass_sini  mass_sini_error_min  mass_sini_error_max  radius  \
0        19.400                1.500                1.500     NaN
1           NaN                  NaN                  NaN     NaN
2        10.500                2.470                2.470     NaN
3         5.330                0.570                0.570     NaN
4         4.640                0.190                0.190     NaN
...         ...                  ...                  ...     ...
4791      0.620                0.090                0.090     NaN
4792      1.800                0.260                0.260     NaN
4793     10.190                  NaN                  NaN     NaN
4794      1.059                0.028                0.028     NaN
4795        NaN                  NaN                  NaN     NaN

      radius_error_min  ...  star_sp_type  star_age  star_age_error_min  \
0                  NaN  ...        G8 III       NaN                 NaN
1                  NaN  ...            M9     0.011               0.002
2                  NaN  ...         K4III     1.560               0.540
3                  NaN  ...         K0III       NaN                 NaN
4                  NaN  ...          K0 V     5.100                 NaN
...                ...  ...           ...       ...                 ...
4791               NaN  ...          F8 V     3.800               1.000
4792               NaN  ...          F8 V     3.800               1.000
4793               NaN  ...          F8 V     3.800               1.000
4794               NaN  ...          F8 V     3.800               1.000
4795               NaN  ...           A3V     0.525               0.125

      star_age_error_max  star_teff  star_teff_error_min  star_teff_error_max  \
0                    NaN     4742.0                100.0                100.0
1                  0.002     2375.0                175.0                175.0
2                  0.540     4340.0                 70.0                 70.0
3                    NaN     4813.0                 20.0                 20.0
4                    NaN     5311.0                 87.0                 87.0
...                  ...        ...                  ...                  ...
4791               1.000     6212.0                 80.0                 80.0
4792               1.000     6212.0                 80.0                 80.0
4793               1.000     6212.0                 80.0                 80.0
4794               1.000     6212.0                 80.0                 80.0
4795               0.125     8336.0                  NaN                  NaN

      star_detected_disc  star_magnetic_field  \
0                    NaN                  NaN
1                    NaN                  NaN
2                    NaN                  NaN
3                    NaN                  NaN
4                    NaN                  NaN
...                  ...                  ...
4791                 NaN                  NaN
4792                 NaN                  NaN
4793                 NaN                  NaN
4794                 NaN                  NaN
4795                 NaN                  NaN

                                star_alternate_names
0                                                NaN
1                             Oph 1622-2405, Oph 11A
2                                                NaN
3                                                NaN
4                                                NaN
...                                              ...
4791                                             NaN
4792                                             NaN
4793                                             NaN
4794                                             NaN
4795  HD 196180, HIP 101589, 2MASS J20351852+1440272

[4796 rows x 98 columns]
Количество пропущенных значений: Название         0
Масса            0
Радиус           0
Дата открытия    0
dtype: int64
Количество дубликатов: 0
          Название     Масса   Радиус  Дата открытия
10     1RXS 1609 b  14.00000  1.70000         2008.0
18    2M 0122-24 b  20.00000  1.00000         2013.0
19    2M 0219-39 b  13.90000  1.44000         2015.0
22    2M 2140+16 b  20.00000  0.92000         2010.0
23    2M 2206-20 b  30.00000  1.30000         2010.0
...            ...       ...      ...            ...
4756    beta Pic b   9.80000  1.65000         2008.0
4757    beta Pic c   8.30000  1.20000         2019.0
4769   kappa And b  13.00000  1.20000         2013.0
4783      pi Men c   0.01517  0.16719         2018.0
4785   tau Boo A b   5.84000  1.06000         1996.0

[1055 rows x 4 columns]

# Группировка данных

Слово «анализ» означает разбор, рассмотрение с разных сторон. Анализ данных начинают с разделения их на группы по какому-нибудь признаку. Эта операция называется группировка данных. Она помогает изучить материал более подробно, чтобы затем перейти к поиску взаимосвязей между отдельными группами.


Группировка оправданна, если данные чётко делятся по значимому признаку, а полученные группы близки к теме задачи. Например, когда есть данные обо всех покупках в супермаркете, можно смело заниматься группировкой. Так можно установить время наплыва покупателей и решить проблему пиковых нагрузок. Или посчитать средний чек — обычно для магазинов это ключевая метрика.


Стадии группировки хорошо укладываются в словесную формулу **split-apply-combine**:

•	разделить, **split** — разбиение на группы по определённому критерию;

•	применить, **apply** — применение какого-либо метода к каждой группе в отдельности, например, подсчёт численности группы методом count() или суммирование вызовом sum();

•	объединить, **combine** — сведение результатов в новую структуру данных, в зависимости от условий разделения и выполнения метода это бывает DataFrame и Series.

В библиотеке Pandas есть отличные инструменты группировки. Рассмотрим обращение с ними на примере анализа данных о планетах за пределами Солнечной системы, или экзопланетах. Орбитальные обсерватории засекли уже тысячи таких небесных тел. Их выявляют на снимках космических телескопов наши коллеги, аналитики данных. Поищем среди экзопланет похожие на Землю. Возможно, это наши будущие колонии, или там уже обитают разумные существа, с которыми однажды предстоит установить контакт.

DataFrame с данными по нескольким тысячам экзопланет сохранён в переменной **exoplanet**. Посмотрим на первые 30 строк таблицы:

In [ ]:
import pandas as pd
exoplanet_catalog = pd.read_csv('exoplanet_catalog.csv')
exoplanet = exoplanet_catalog[['# name', 'mass', 'radius', 'discovered']]
exoplanet.columns = ['Название', 'Масса', 'Радиус', 'Дата открытия']

print(exoplanet.head(30))

                   Название  Масса    Радиус  Дата открытия
0                  11 Com b    NaN       NaN         2008.0
1                  11 Oph b   21.0       NaN         2007.0
2                  11 UMi b    NaN       NaN         2009.0
3                  14 And b    NaN       NaN         2008.0
4                  14 Her b    NaN       NaN         2002.0
5                  14 Her c    5.8       NaN         2006.0
6                16 Cyg B b    NaN       NaN         1996.0
7                  17 Sco b    NaN       NaN         2020.0
8                  18 Del b    NaN       NaN         2008.0
9              1I/'Oumuamua    NaN  0.000002         2017.0
10              1RXS 1609 b   14.0  1.700000         2008.0
11  1RXS J235133.3+312720 b   32.0       NaN         2012.0
12           1SWASP J1407 b    NaN       NaN         2012.0
13                 24 Boo b    NaN       NaN         2018.0
14                 24 Sex b    NaN       NaN         2010.0
15                 24 Sex c    NaN       NaN         2010.0
16               2I/Borisov    NaN  0.000062         2019.0
17        2M 0103-55 (AB) b   13.0       NaN         2013.0
18             2M 0122-24 b   20.0  1.000000         2013.0
19             2M 0219-39 b   13.9  1.440000         2015.0
20             2M 0441+23 b    7.5       NaN         2010.0
21             2M 1938+46 b    1.9       NaN         2015.0
22             2M 2140+16 b   20.0  0.920000         2010.0
23             2M 2206-20 b   30.0  1.300000         2010.0
24           2M 2236+4751 b   12.5       NaN         2016.0
25            2M J2126-81 b   13.3       NaN         2016.0
26                2M0045+16   25.0       NaN         2019.0
27                2M0117-34   16.4       NaN         2019.0
28              2M0838+15 b    NaN       NaN         2013.0
29              2M0838+15 c    NaN       NaN         2013.0

**Документация**

Столбцы:

•	name: название экзопланеты;

•	mass: масса в массах планеты Юпитер;

•	radius: радиус, пересчитанный в радиусах Земли;

•	discovered: год открытия экзопланеты.

*Источник: каталог экзопланет на портале exoplanet.eu*

На картинке изображен принцип **split-apply-combine** для таблицы с экзопланетами. Посмотрим, как вообще идут дела с поиском экзопланет. Сначала данные делят по группам, где каждая группа — это год. Потом метод **count()** подсчитывает численность каждой группы. В итоге получаем новую структуру данных с группами, где каждая содержит год и число открытых за этот год экзопланет.

![image.png](attachment:image.png)

В Рandas для группировки данных есть метод **groupby()**. Он принимает как аргумент название столбца, по которому нужно группировать. В случае с делением экзопланет по годам открытия:

**print(exoplanet.groupby('discovered'))**

**<pandas.core.groupby.DataFrameGroupBy object at 0x7fc1e1ca3400>**


Применение метода **groupby()** к объекту типа DataFrame приводит к созданию объекта особого типа — **DataFrameGroupBy**. Это сгруппированные данные. Если применить к ним какой-нибудь метод Pandas, они станут новой структурой данных типа **DataFrame** или **Series**.
Подсчитаем сгруппированные по годам экзопланеты методом **count()**:

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')

grouped_exoplanets = exoplanet.groupby('discovered')

count_exoplanets = grouped_exoplanets.count()

print(count_exoplanets)

            # name  planet_status  mass  mass_error_min  mass_error_max  \
discovered
1988.0           1              1     1               0               0
1992.0           3              3     3               1               1
1995.0           3              3     3               2               2
1996.0           7              7     4               3               3
1998.0           8              8     1               1               1
1999.0          13             13     6               6               6
2000.0          23             23    11               9               9
2001.0          15             15     6               5               5
2002.0          33             33     8               8               8
2003.0          26             26     6               4               4
2004.0          35             35    13              11              11
2005.0          35             35    14              13              13
2006.0          37             37    20              19              18
2007.0          60             60    23              23              23
2008.0          67             67    37              35              35
2009.0          93             93    29              25              25
2010.0         131            131    70              67              67
2011.0         208            208   111              98              84
2012.0         144            144    92              74              75
2013.0         180            180   120             113             113
2014.0         872            872   125             112             112
2015.0         170            170    77              74              74
2016.0        1542           1542   135             126             126
2017.0         172            172    92              84              84
2018.0         356            356   149             141             142
2019.0         200            200   114             108             108
2020.0         243            243   116             110             110
2021.0         113            113    65              64              64

            mass_sini  mass_sini_error_min  mass_sini_error_max  radius  \
discovered
1988.0              0                    0                    0       0
1992.0              0                    0                    0       0
1995.0              2                    2                    2       1
1996.0              6                    5                    5       1
1998.0              7                    7                    7       0
1999.0             10                    8                    8       2
2000.0             17                    8                    8       5
2001.0             12                   10                   10       1
2002.0             28                   15                   15       4
2003.0             24                   11                   11       0
2004.0             22                   13                   13      10
2005.0             25                   18                   18       9
2006.0             22                   13                   13      12
2007.0             38                   25                   25      23
2008.0             34                   27                   27      25
2009.0             69                   54                   54      16
2010.0             64                   51                   51      62
2011.0             98                   91                   91     107
2012.0             45                   40                   40      90
2013.0             42                   34                   34     119
2014.0             86                   82                   81     800
2015.0             70                   70                   70     109
2016.0             85                   78                   78    1447
2017.0             55                   55                   55      91
2018.0             55                   55                   55     277
2019.0             60                   59                   59     104
2020.0             47                   43                   43     171
2021.0             38                   38                   38      51

            radius_error_min  ...  star_sp_type  star_age  star_age_error_min  \
discovered                    ...
1988.0                     0  ...             1         1                   0
1992.0                     0  ...             3         3                   3
1995.0                     1  ...             2         1                   1
1996.0                     0  ...             7         7                   4
1998.0                     0  ...             8         7                   1
1999.0                     1  ...            12        11                   6
2000.0                     1  ...            23        20                   6
2001.0                     1  ...            15        13                   3
2002.0                     1  ...            32        30                   5
2003.0                     0  ...            26        24                   8
2004.0                     6  ...            30        28                  10
2005.0                     3  ...            33        30                  16
2006.0                    10  ...            33        26                  13
2007.0                    19  ...            53        48                  33
2008.0                    22  ...            56        33                  32
2009.0                    14  ...            87        58                  46
2010.0                    56  ...           116        90                  83
2011.0                    86  ...           168       112                  97
2012.0                    72  ...            86        76                  63
2013.0                   116  ...            97        90                  77
2014.0                   800  ...           150       113                  80
2015.0                   104  ...           106        81                  76
2016.0                  1446  ...           174      1379                1355
2017.0                    90  ...           133        79                  71
2018.0                   267  ...           142       131                 123
2019.0                   101  ...           120        78                  75
2020.0                   120  ...            91       101                  98
2021.0                    51  ...            56        44                  39

            star_age_error_max  star_teff  star_teff_error_min  \
discovered
1988.0                       0          0                    0
1992.0                       3          0                    0
1995.0                       1          2                    1
1996.0                       4          6                    4
1998.0                       1          8                    6
1999.0                       6         11                    6
2000.0                       6         20                   10
2001.0                       3         14                    6
2002.0                       6         30                   13
2003.0                       8         24                    9
2004.0                      11         29                   15
2005.0                      16         28                   18
2006.0                      14         29                   22
2007.0                      36         55                   52
2008.0                      32         47                   44
2009.0                      44         83                   73
2010.0                      81        113                  107
2011.0                      97        147                  139
2012.0                      64        123                  113
2013.0                      80        155                  138
2014.0                      80        852                  838
2015.0                      73        157                  150
2016.0                    1355       1514                 1512
2017.0                      71        146                  143
2018.0                     123        313                  297
2019.0                      75        142                  141
2020.0                      98        195                  190
2021.0                      39         70                   67

            star_teff_error_max  star_detected_disc  star_magnetic_field  \
discovered
1988.0                        0                   0                    0
1992.0                        0                   0                    0
1995.0                        1                   0                    0
1996.0                        4                   1                    0
1998.0                        6                   1                    0
1999.0                        6                   2                    0
2000.0                       10                   4                    0
2001.0                        6                   2                    0
2002.0                       13                   7                    0
2003.0                        9                   6                    0
2004.0                       15                   1                    0
2005.0                       18                   6                    1
2006.0                       22                   6                    0
2007.0                       52                   1                    0
2008.0                       44                   8                    0
2009.0                       73                   7                    0
2010.0                      107                   4                    0
2011.0                      139                   9                    0
2012.0                      113                   6                    0
2013.0                      138                   3                    1
2014.0                      838                   1                    0
2015.0                      150                   2                    0
2016.0                     1512                   2                    1
2017.0                      143                   3                    0
2018.0                      297                   3                    0
2019.0                      141                   2                    1
2020.0                      190                   0                    0
2021.0                       67                   0                    0

            star_alternate_names
discovered
1988.0                         0
1992.0                         0
1995.0                         0
1996.0                         2
1998.0                         1
1999.0                         1
2000.0                         6
2001.0                         4
2002.0                         2
2003.0                         7
2004.0                         2
2005.0                         2
2006.0                         8
2007.0                         7
2008.0                         8
2009.0                        14
2010.0                        24
2011.0                        70
2012.0                        68
2013.0                        91
2014.0                       795
2015.0                       100
2016.0                      1415
2017.0                        93
2018.0                       233
2019.0                        68
2020.0                       103
2021.0                        21

[28 rows x 97 columns]

Если нужно сравнить наблюдения по одному показателю, метод применяют к **DataFrameGroupBy** с указанием на один столбец. Нас в первую очередь интересует радиус экзопланет: мы ищем другую Землю. Давайте получим таблицу с единственным столбцом 'radius':

**exo_number = exoplanet.groupby('discovered')['radius'].count()**

**print(exo_number)**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')

exo_number = exoplanet.groupby('discovered')['radius'].count()

print(exo_number)

discovered
1988.0       0
1992.0       0
1995.0       1
1996.0       1
1998.0       0
1999.0       2
2000.0       5
2001.0       1
2002.0       4
2003.0       0
2004.0      10
2005.0       9
2006.0      12
2007.0      23
2008.0      25
2009.0      16
2010.0      62
2011.0     107
2012.0      90
2013.0     119
2014.0     800
2015.0     109
2016.0    1447
2017.0      91
2018.0     277
2019.0     104
2020.0     171
2021.0      51
Name: radius, dtype: int64

Получили Series, где по годам открытия расписано количество экзопланет, для которых удалось установить радиус.

Посмотрим, как меняется средний радиус открытых экзопланет год от года. Для этого надо сложить радиусы планет, открытых за определённый год, и поделить на их количество (которое мы уже нашли).

Сумма радиусов считается методом **sum()**:

**exo_radius_sum = exoplanet.groupby('discovered')['radius'].sum()**


**print(exo_radius_sum)**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
exo_radius_sum = exoplanet.groupby('discovered')['radius'].sum()

print(exo_radius_sum)

discovered
1988.0      0.000000
1992.0      0.000000
1995.0      1.900000
1996.0      1.060000
1998.0      0.000000
1999.0      2.410000
2000.0      5.107000
2001.0      0.921000
2002.0      4.210000
2003.0      0.000000
2004.0      9.909700
2005.0      9.999000
2006.0     22.425000
2007.0     29.088600
2008.0     34.329000
2009.0     16.416794
2010.0     62.760660
2011.0     86.187374
2012.0     56.441507
2013.0     80.399100
2014.0    194.348230
2015.0     66.196690
2016.0    403.726600
2017.0     59.428622
2018.0    130.962070
2019.0     70.835372
2020.0     85.252100
2021.0     43.260410
Name: radius, dtype: float64

Очень кстати, что объекты Series можно делить друг на друга. Это позволит нам разделить перечень сумм радиусов на перечень количеств экзопланет без перебора в цикле:


**exo_radius_mean = exo_radius_sum/exo_number**

**print(exo_radius_mean)**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
exo_radius_mean = exo_radius_sum/exo_number

print(exo_radius_mean)

discovered
1988.0         NaN
1992.0         NaN
1995.0    1.900000
1996.0    1.060000
1998.0         NaN
1999.0    1.205000
2000.0    1.021400
2001.0    0.921000
2002.0    1.052500
2003.0         NaN
2004.0    0.990970
2005.0    1.111000
2006.0    1.868750
2007.0    1.264722
2008.0    1.373160
2009.0    1.026050
2010.0    1.012269
2011.0    0.805489
2012.0    0.627128
2013.0    0.675623
2014.0    0.242935
2015.0    0.607309
2016.0    0.279009
2017.0    0.653062
2018.0    0.472787
2019.0    0.681109
2020.0    0.498550
2021.0    0.848243
Name: radius, dtype: float64

Точность наших приборов растёт, и новые экзопланеты по размерам всё ближе к Земле.

А теперь вернемся к анализу датафрейма с музыкльными предпочтениями слушателей Яндекс.Музыки. Идею объединения сервисов Музыка и Радио тестировали на небольшой группе пользователей. Результаты сведены в csv-файл, который вам предстоит изучить. Итог анализа таких данных — это метрики: величины, значения которых отражают пользовательские впечатления. Одна из важнейших — **happiness**. Здесь это среднее время, которое пользователь слушает музыку в течение выбранного периода времени (в нашей задаче — за сутки). Чем дольше пользователь слушает музыку, тем он довольнее. Ваша задача: найти значение happiness и посмотреть, как оно менялось.

Тем же методом **groupby()**, которым мы ищем новую Землю, можно поискать и необыкновенного человека в данных Яндекс.Музыки. Тем более, что без этого не выполнить поставленной менеджером задачи.

Прежде, чем рассчитывать метрику happiness, нужно изучить пользователей, чьё «счастье» мы собираемся оценить. Какие они, эти люди, которые слушают действительно много музыки? Есть ли у них особые предпочтения, или они потребляют всё подряд?

## Задача

1. Меломаны у нас есть. Сейчас узнаем идентификатор **user_id** одного из них. Для этого сгруппируем данные по каждому пользователю, чтобы собрать жанры прослушанных им композиций.

Сгруппируйте DataFrame по столбцу user_id, сохраните полученный результат в переменной genre_grouping.

Посчитайте количество жанров, которые выбрали пользователи, методом count(), указав, что выбираем один столбец genre_name.

Сохраните результат в переменной genre_counting и выведите первые 30 строк этой таблицы.

2. Быть может, те, кто за день слушает больше 50 песен, имеют более широкие предпочтения. Чтобы найти такого, изготовим универсальный инструмент.

Напишите функцию user_genres, которая принимает некую группировку как свой аргумент group. Функция должна перебирать группы, входящие в эту группировку.

В каждой группе два элемента — имя группы с индексом 0 и список значений с индексом 1.

Обнаружив такую группу, в которой список (элемент с индексом 1) содержит более 50 значений, функция возвращает имя группы (значение элемента с индексом 0).

3. Вызовите функцию **user_genres**, как аргумент передайте ей **genre_grouping**. Результат – **user_id** неведомого нам любителя музыки – сохраните в переменной **search_id** и выведите значение на экран.

In [ ]:
import pandas as pd
df = pd.read_csv('yandex_music (2).csv')
genre_grouping = df.groupby('  userID')

print(genre_grouping)

genre_counting= genre_grouping['genre'].count()

print(genre_counting.head(30))


def user_genres(group):
    for i in group:
        if len(i[1]) > 50:
            return i[0]


search_id = user_genres(genre_grouping)

print('User ID с более чем 50 прослушанными песнями:', search_id)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x788548996860>
  userID
10004220    3
100173ED    1
1001CE90    7
1002410A    3
100261F9    2
1004AAE6    1
1004C5D8    1
1005BECA    1
10089377    3
100AB021    1
100ACFBC    1
10101201    2
10107FC7    2
10112F4C    2
1016144E    1
1016C39F    2
10180175    1
101861D1    2
10189D10    8
101AAA19    1
101B046A    2
101B53F1    1
101BBC61    1
101C12A4    2
101D714C    1
101E910F    1
10211433    1
10222F55    1
1022B77E    1
10246DCB    2
Name: genre, dtype: int64
User ID с более чем 50 прослушанными песнями: 414F229D

# Сортировка данных

Поиск необычного в группе — что среди планет, что среди меломанов — это прежде всего поиск чемпионов: объектов с выдающимися показателями по разным статьям. Как всю таблицу, так и отдельные группы изучают, сортируя строки по какому-либо столбцу.

В Pandas для этой операции есть метод **sort_values()**. У него два аргумента:

• **by = 'имя столбца'** — имя столбца, по которому нужно сортировать;

• **ascending:** по умолчанию True. Для сортировки по убыванию установите значение False.

![image.png](attachment:image.png)


Среди экзопланет интересны близкие по размерам к Земле. Есть ли такие? Отсортируем список по радиусу в порядке возрастания. Тогда в голове таблицы окажутся самые малые, на которых гравитация не прижмёт нас к полу.

**print(exoplanet.sort_values(by='radius').head(30))**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
print(exoplanet.sort_values(by='radius').head(30))

                 # name planet_status     mass  mass_error_min  \
9          1I/'Oumuamua     Confirmed      NaN             NaN
16           2I/Borisov     Confirmed      NaN             NaN
4357  SDSS J1228+1040 b     Confirmed      NaN             NaN
3258       Kepler-391 b     Confirmed      NaN             NaN
3207        Kepler-37 b     Confirmed  0.01000         0.01000
3354       Kepler-444 b     Confirmed      NaN             NaN
1744       Kepler-102 b     Confirmed  0.01353         0.01353
3355       Kepler-444 c     Confirmed      NaN             NaN
2126      Kepler-1308 b     Confirmed      NaN             NaN
2221       Kepler-138 b     Confirmed  0.00021         0.00012
3356       Kepler-444 d     Confirmed      NaN             NaN
3611        Kepler-62 c     Confirmed  0.01300             NaN
3357       Kepler-444 e     Confirmed      NaN             NaN
3323        Kepler-42 d     Confirmed  0.00300             inf
1745       Kepler-102 c     Confirmed  0.00944         0.00944
2491      Kepler-1583 b     Confirmed      NaN             NaN
1839      Kepler-1087 b     Confirmed      NaN             NaN
1611            K2-89 b     Confirmed      NaN             NaN
2212      Kepler-1371 c     Confirmed      NaN             NaN
2185      Kepler-1351 b     Confirmed      NaN             NaN
2439      Kepler-1542 c     Confirmed      NaN             NaN
2937       Kepler-271 d     Confirmed      NaN             NaN
3337       Kepler-431 c     Confirmed      NaN             NaN
2459      Kepler-1558 b     Confirmed      NaN             NaN
2180      Kepler-1349 b     Confirmed      NaN             NaN
2263       Kepler-141 b     Confirmed      NaN             NaN
3230       Kepler-378 c     Confirmed      NaN             NaN
1262           K2-116 b     Confirmed      NaN             NaN
1473           K2-266 c     Confirmed  0.00091         0.00035
2168      Kepler-1339 b     Confirmed      NaN             NaN

      mass_error_max  mass_sini  mass_sini_error_min  mass_sini_error_max  \
9                NaN        NaN                  NaN                  NaN
16               NaN        NaN                  NaN                  NaN
4357             NaN        NaN                  NaN                  NaN
3258             NaN        NaN                  NaN                  NaN
3207         0.01000        NaN                  NaN                  NaN
3354             NaN        NaN                  NaN                  NaN
1744         0.00000        NaN                  NaN                  NaN
3355             NaN        NaN                  NaN                  NaN
2126             NaN        NaN                  NaN                  NaN
2221         0.00019        NaN                  NaN                  NaN
3356             NaN        NaN                  NaN                  NaN
3611             NaN    0.01260              0.01260              0.00000
3357             NaN        NaN                  NaN                  NaN
3323             NaN        NaN                  NaN                  NaN
1745         0.00000    0.00900                  inf                  NaN
2491             NaN        NaN                  NaN                  NaN
1839             NaN        NaN                  NaN                  NaN
1611             NaN        NaN                  NaN                  NaN
2212             NaN        NaN                  NaN                  NaN
2185             NaN        NaN                  NaN                  NaN
2439             NaN        NaN                  NaN                  NaN
2937             NaN        NaN                  NaN                  NaN
3337             NaN        NaN                  NaN                  NaN
2459             NaN        NaN                  NaN                  NaN
2180             NaN        NaN                  NaN                  NaN
2263             NaN        NaN                  NaN                  NaN
3230             NaN        NaN                  NaN                  NaN
1262             NaN        NaN                  NaN                  NaN
1473         0.00053    0.00091              0.00035              0.00053
2168             NaN        NaN                  NaN                  NaN

        radius  radius_error_min  ...  star_sp_type  star_age  \
9     0.000002               NaN  ...           NaN       NaN
16    0.000062               NaN  ...           NaN       NaN
4357  0.000900          0.000758  ...          DAZe       NaN
3258  0.025430          0.006200  ...           NaN       NaN
3207  0.026000          0.003000  ...           NaN      6.00
3354  0.035950          0.003600  ...             K     11.23
1744  0.042000          0.002000  ...           NaN      1.41
3355  0.044000          0.002000  ...             K     11.23
2126  0.046000          0.004000  ...           NaN      3.72
2221  0.047000          0.003000  ...          M1 V       NaN
3356  0.047000          0.002000  ...             K     11.23
3611  0.048000          0.002700  ...          K2 V      7.00
3357  0.049000          0.001000  ...             K     11.23
3323  0.051000          0.016000  ...             M      4.50
1745  0.052000          0.002000  ...           NaN      1.41
2491  0.054000          0.004000  ...           NaN      4.27
1839  0.054000          0.004000  ...           NaN      3.55
1611  0.055000          0.007000  ...           NaN       NaN
2212  0.057000          0.004000  ...           NaN      4.37
2185  0.058000          0.004000  ...           NaN      4.17
2439  0.058000          0.005000  ...           NaN      8.51
2937  0.059000          0.004000  ...           NaN      4.57
3337  0.060000               NaN  ...           NaN       NaN
2459  0.061000          0.004000  ...           NaN      4.90
2180  0.062000          0.010000  ...           NaN      2.88
2263  0.062000          0.004000  ...           NaN       NaN
3230  0.062000          0.004000  ...           NaN       NaN
1262  0.062000          0.004000  ...           K7V       NaN
1473  0.063000          0.008000  ...             K      8.40
2168  0.063000          0.004000  ...           NaN      5.62

      star_age_error_min  star_age_error_max  star_teff  star_teff_error_min  \
9                    NaN                 NaN        NaN                  NaN
16                   NaN                 NaN        NaN                  NaN
4357                 NaN                 NaN        NaN                  NaN
3258                 NaN                 NaN    4940.00               100.00
3207                 NaN                 NaN    5417.00                75.00
3354                0.99                0.99    5046.00                74.00
1744                 NaN                 NaN    4909.00                41.00
3355                0.99                0.99    5046.00                74.00
2126               -2.13                5.97    3468.00                30.71
2221                 NaN                 NaN    3841.00                49.00
3356                0.99                0.99    5046.00                74.00
3611               -4.00                4.00    4925.00                70.00
3357                0.99                0.99    5046.00                74.00
3323               -1.00                0.50    3068.00               174.00
1745                 NaN                 NaN    4909.00                41.00
2491               -2.56                4.73    5645.00                81.55
1839               -2.19                5.32    5589.00               191.41
1611                 NaN                 NaN    3691.00                51.00
2212               -2.72                6.40    5361.00                74.06
2185               -2.37                5.54    4439.00                77.72
2439               -5.27                3.29    5564.00                63.29
2937               -2.58                3.34    5555.00                59.33
3337                 NaN                 NaN    6004.00                75.00
2459               -2.96                5.92    5101.00                59.69
2180               -1.56                1.36    6086.00               194.89
2263                 NaN                 NaN    4910.00               100.00
3230                 NaN                 NaN    4661.00               100.00
1262                 NaN                 NaN    4348.35                87.78
1473                4.80                4.10    4285.00                57.00
2168               -3.11                3.23    5586.00                56.05

      star_teff_error_max  star_detected_disc  star_magnetic_field  \
9                     NaN                 NaN                  NaN
16                    NaN                 NaN                  NaN
4357                  NaN                 NaN                   No
3258               100.00                 NaN                  NaN
3207                75.00                 NaN                  NaN
3354                74.00                 NaN                  NaN
1744                41.00                 NaN                  NaN
3355                74.00                 NaN                  NaN
2126                33.65                 NaN                  NaN
2221                49.00                 NaN                  NaN
3356                74.00                 NaN                  NaN
3611                70.00                 NaN                  NaN
3357                74.00                 NaN                  NaN
3323               174.00                 NaN                  NaN
1745                41.00                 NaN                  NaN
2491                83.87                 NaN                  NaN
1839               122.90                 NaN                  NaN
1611                51.00                 NaN                  NaN
2212                70.81                 NaN                  NaN
2185                82.58                 NaN                  NaN
2439                63.25                 NaN                  NaN
2937                60.07                 NaN                  NaN
3337                75.00                 NaN                  NaN
2459                59.21                 NaN                  NaN
2180                98.49                 NaN                  NaN
2263               100.00                 NaN                  NaN
3230               100.00                 NaN                  NaN
1262                86.10                 NaN                  NaN
1473                49.00                 NaN                  NaN
2168                51.01                 NaN                  NaN

                                   star_alternate_names
9                                                   NaN
16                                                  NaN
4357                                                NaN
3258  2MASS J19222923+5103262, KIC 12306058, KOI-254...
3207  KOI-245 , KIC 8478994 , 2MASS J18561431+443105...
3354  Kepler-444, 2MASS J19190052+4138043, BD+41 330...
1744  KOI-82, KIC 10187017, 2MASS J18455585+4712289,...
3355  Kepler-444, 2MASS J19190052+4138043, BD+41 330...
2126  2MASS J19034293+3831155, KIC 3426367, KOI-2662...
2221  KOI-314, 2MASS J19213157+4317347, KIC 7603200,...
3356  Kepler-444, 2MASS J19190052+4138043, BD+41 330...
3611  2MASS J18525105+4520595, KIC 9002278, KOI-701,...
3357  Kepler-444, 2MASS J19190052+4138043, BD+41 330...
3323  2MASS J19285255+4437096, KIC 8561063, KOI-961,...
1745  KOI-82, KIC 10187017, 2MASS J18455585+4712289,...
2491  2MASS J19053286+4700598, KIC 10063208, KOI-429...
1839  2MASS J19395491+4600203, KIC 9473078, KOI-2079...
1611  2MASS J03481599+2027347, EPIC 210838726, WISE ...
2212  2MASS J19151953+4733071, KIC 10397751, KOI-285...
2185  2MASS J19342609+4211516, KIC 6697756, KOI-2798...
2439  2MASS J19025483+4239163, KIC 7100673, KOI-4032...
2937  2MASS J18520071+4417032, KIC 8280511, KOI-1151...
3337  KOI-3097, 2MASS J18442696+4313400, KIC 7582689...
2459  2MASS J19071664+4654420, KIC 10000941, KOI-414...
2180  2MASS J19052120+4844387, KIC 11127479, KOI-279...
2263  2MASS J19515301+4743540, KIC 10552611, KOI-338...
3230  2MASS J19394766+4626191, KIC 9718066, KOI-2287...
1262  BD-12 6259, EPIC 206119924, 2MASS J22243636-11...
1473  2MASS J10314450+0056152, EPIC 248435473, EPIC ...
2168  2MASS J18545899+4822242, KIC 10905911, KOI-275...

[30 rows x 98 columns]

Оказывается, некоторые из уже открытых экзопланет по размерам близки не то что к Земле, но уже и к Луне! Получим список экзопланет с радиусом меньше земного. Смотрите, как логический оператор (здесь это <) задействуется в отборе элементов столбца. Дальше нам этот приём не раз понадобится.


**print(exoplanet[exoplanet['radius'] < 1])**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
print(exoplanet[exoplanet['radius'] < 1])

                # name planet_status      mass  mass_error_min  \
9         1I/'Oumuamua     Confirmed       NaN             NaN
16          2I/Borisov     Confirmed       NaN             NaN
22        2M 2140+16 b     Confirmed  20.00000        20.00000
41    2MASS J0348-6022     Confirmed  43.00000        18.00000
42    2MASS J0407+1546     Confirmed  67.00000        28.00000
...                ...           ...       ...             ...
4731        Wolf 503 b     Confirmed       NaN             NaN
4732        Wolf 940 b     Confirmed  26.00000         6.00000
4734           XO-2N b     Confirmed   0.62000         0.02000
4751  ZTF J0038+2030 b     Confirmed  59.30000         3.90000
4783          pi Men c     Confirmed   0.01517         0.00267

      mass_error_max  mass_sini  mass_sini_error_min  mass_sini_error_max  \
9                NaN        NaN                  NaN                  NaN
16               NaN        NaN                  NaN                  NaN
22          80.00000        NaN                  NaN                  NaN
41          22.00000        NaN                  NaN                  NaN
42           9.00000        NaN                  NaN                  NaN
...              ...        ...                  ...                  ...
4731             NaN        NaN                  NaN                  NaN
4732         6.00000        NaN                  NaN                  NaN
4734         0.02000        NaN                  NaN                  NaN
4751         3.60000        NaN                  NaN                  NaN
4783         0.00267        NaN                  NaN                  NaN

        radius  radius_error_min  ...  star_sp_type  star_age  \
9     0.000002               NaN  ...           NaN       NaN
16    0.000062               NaN  ...           NaN       NaN
22    0.920000          0.390000  ...           NaN       NaN
41    0.910000          0.100000  ...           NaN       NaN
42    0.970000          0.800000  ...           NaN       NaN
...        ...               ...  ...           ...       ...
4731  0.181110          0.006510  ...         K3.5V     11.00
4732  0.920000          0.040000  ...           M4V      5.00
4734  0.973000          0.030000  ...           K0V      2.00
4751  0.783000          0.011000  ...           NaN      8.00
4783  0.167190          0.004532  ...           G0V      2.98

      star_age_error_min  star_age_error_max  star_teff  star_teff_error_min  \
9                    NaN                 NaN        NaN                  NaN
16                   NaN                 NaN        NaN                  NaN
22                   NaN                 NaN     2300.0                 80.0
41                   NaN                 NaN        NaN                  NaN
42                   NaN                 NaN        NaN                  NaN
...                  ...                 ...        ...                  ...
4731                 2.0                 2.0     4716.0                 60.0
4732                 1.5                 1.5        NaN                  NaN
4734                 NaN                 NaN     5340.0                 32.0
4751                 NaN                 NaN        NaN                  NaN
4783                 1.4                 1.4     6037.0                 45.0

      star_teff_error_max  star_detected_disc  star_magnetic_field  \
9                     NaN                 NaN                  NaN
16                    NaN                 NaN                  NaN
22                   80.0                 NaN                  NaN
41                    NaN                 NaN                  NaN
42                    NaN                 NaN                  NaN
...                   ...                 ...                  ...
4731                 60.0                 NaN                  NaN
4732                  NaN                 NaN                  NaN
4734                 32.0                 NaN                  NaN
4751                  NaN                 NaN                  NaN
4783                 45.0                 NaN                  NaN

         star_alternate_names
9                         NaN
16                        NaN
22                        NaN
41                        NaN
42                        NaN
...                       ...
4731                      NaN
4732  2MASS J21464040-0010233
4734                      NaN
4751                      NaN
4783                 HD 39091

[2974 rows x 98 columns]

Но и этот список такой длинный, что изучать его лучше по частям. Экзопланеты, близкие по размерам к Земле, за последнее десятилетие открывали нередко. Можно изучать список открытых за каждый год. Например, для 2014 года (вновь обратите внимание на работу логического оператора, теперь это ==):

**print(exoplanet[exoplanet['discovered'] == 2014])**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
print(exoplanet[exoplanet['discovered'] == 2014])

            # name planet_status  mass  mass_error_min  mass_error_max  \
106   BD-06 1339 d     Confirmed   NaN             NaN             NaN
222       GJ 15A b     Confirmed   NaN             NaN             NaN
223     GJ 160.2 b     Confirmed   NaN             NaN             NaN
233       GJ 180 b     Confirmed   NaN             NaN             NaN
234       GJ 180 c     Confirmed   NaN             NaN             NaN
...            ...           ...   ...             ...             ...
4763     eta Cet b     Confirmed   NaN             NaN             NaN
4764     eta Cet c     Confirmed   NaN             NaN             NaN
4776      mu Leo b     Confirmed   NaN             NaN             NaN
4784     sig Per b     Confirmed   NaN             NaN             NaN
4795     zet Del B     Confirmed  40.0             5.0            15.0

      mass_sini  mass_sini_error_min  mass_sini_error_max  radius  \
106    0.058200             0.029600             0.036500     NaN
222    0.009530             0.001380             0.001450     NaN
223    0.024500             0.009800             0.009800     NaN
233    0.021240             0.005600             0.004310     NaN
234    0.020137             0.012896             0.011638     NaN
...         ...                  ...                  ...     ...
4763   2.550000             0.130000             0.130000     NaN
4764   3.320000             0.180000             0.180000     NaN
4776   2.400000             0.400000             0.400000     NaN
4784   6.500000             1.000000             1.000000     NaN
4795        NaN                  NaN                  NaN     NaN

      radius_error_min  ...  star_sp_type  star_age  star_age_error_min  \
106                NaN  ...       K7V/M0V     4.400               4.000
222                NaN  ...           M2V       NaN                 NaN
223                NaN  ...           M0V       NaN                 NaN
233                NaN  ...           M2V       NaN                 NaN
234                NaN  ...           M2V       NaN                 NaN
...                ...  ...           ...       ...                 ...
4763               NaN  ...         K1III       NaN                 NaN
4764               NaN  ...         K1III       NaN                 NaN
4776               NaN  ...         K2III     3.350               0.700
4784               NaN  ...         K3III       NaN                 NaN
4795               NaN  ...           A3V     0.525               0.125

      star_age_error_max  star_teff  star_teff_error_min  star_teff_error_max  \
106                4.000     4324.0                100.0                100.0
222                  NaN     3567.0                  NaN                  NaN
223                  NaN     4347.0                  NaN                  NaN
233                  NaN     3371.0                  NaN                  NaN
234                  NaN     3371.0                  NaN                  NaN
...                  ...        ...                  ...                  ...
4763                 NaN     4528.0                 19.0                 19.0
4764                 NaN     4528.0                 19.0                 19.0
4776               0.700     4538.2                 27.5                 27.5
4784                 NaN     4367.0                100.0                100.0
4795               0.125     8336.0                  NaN                  NaN

      star_detected_disc  star_magnetic_field  \
106                  NaN                  NaN
222                  NaN                  NaN
223                  NaN                  NaN
233                  NaN                  NaN
234                  NaN                  NaN
...                  ...                  ...
4763                 NaN                  NaN
4764                 NaN                  NaN
4776                 NaN                  NaN
4784                 NaN                  NaN
4795                 NaN                  NaN

                                   star_alternate_names
106                                              GJ 221
222   HD 1326A, HIP 1475, GX Andromedae, Groombridge...
223                                                 NaN
233                                                 NaN
234                                                 NaN
...                                                 ...
4763                                                NaN
4764                                                NaN
4776                                                NaN
4784                                                NaN
4795     HD 196180, HIP 101589, 2MASS J20351852+1440272

[872 rows x 98 columns]

А чтобы не тратить время на лишнее, поставим оба условия сразу. Для этого в Pandas есть логический оператор &, подобный оператору and языка Python. Напомним, его смысл на русском языке можно передать словами «и ещё»:

**# экзопланеты меньше Земли __ и ещё __ открытые в 2014 году**

**exo_small_14 = exoplanet[ (exoplanet['radius']<1) & (exoplanet['discovered']==2014)]**

**print(exo_small_14)**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
# экзопланеты меньше Земли __ и ещё __ открытые в 2014 году

exo_small_14 = exoplanet[ (exoplanet['radius']<1) & (exoplanet['discovered']==2014)]

print(exo_small_14)

            # name planet_status    mass  mass_error_min  mass_error_max  \
400     HAT-P-54 b     Confirmed  0.7600         0.03200         0.03200
465       HATS-5 b     Confirmed  0.2370         0.01200         0.01200
477       HATS-6 b     Confirmed  0.3190         0.07000         0.07000
1164  HIP 116454 b     Confirmed  0.0372         0.00419         0.00419
1690    KOI-1257 b     Confirmed  1.4500         0.35000         0.35000
...            ...           ...     ...             ...             ...
4039   Kepler-95 b     Confirmed  0.0410         0.00900         0.00900
4051   Kepler-96 b     Confirmed  0.0270         0.01100         0.01100
4065   Kepler-97 b     Confirmed  0.0110         0.00600         0.00600
4077   Kepler-98 b     Confirmed  0.0110         0.00500         0.00500
4088   Kepler-99 b     Confirmed  0.0190         0.00400         0.00400

      mass_sini  mass_sini_error_min  mass_sini_error_max  radius  \
400         NaN                  NaN                  NaN   0.944
465         NaN                  NaN                  NaN   0.912
477         NaN                  NaN                  NaN   0.998
1164    0.03719              0.00418              0.00418   0.226
1690        NaN                  NaN                  NaN   0.940
...         ...                  ...                  ...     ...
4039        NaN                  NaN                  NaN   0.305
4051        NaN                  NaN                  NaN   0.238
4065        NaN                  NaN                  NaN   0.132
4077        NaN                  NaN                  NaN   0.178
4088        NaN                  NaN                  NaN   0.132

      radius_error_min  ...  star_sp_type  star_age  star_age_error_min  \
400              0.028  ...             K      3.90                 2.1
465              0.025  ...           NaN      3.60                 2.6
477              0.019  ...           M1V       NaN                 NaN
1164             0.016  ...            K2       NaN                 NaN
1690             0.120  ...          G5 V      9.30                 3.0
...                ...  ...           ...       ...                 ...
4039             0.008  ...           NaN      5.63                 NaN
4051             0.020  ...           NaN      2.34                 NaN
4065             0.012  ...           G0V      8.42                 NaN
4077             0.020  ...           NaN      2.79                 NaN
4088             0.007  ...           NaN      1.47                 NaN

      star_age_error_max  star_teff  star_teff_error_min  star_teff_error_max  \
400                  4.3     4390.0                 50.0                 50.0
465                  1.9     5304.0                 50.0                 50.0
477                  NaN     3724.0                 18.0                 18.0
1164                 NaN     5089.0                 50.0                 50.0
1690                 3.0     5520.0                 80.0                 80.0
...                  ...        ...                  ...                  ...
4039                 NaN     5699.0                 74.0                 74.0
4051                 NaN     5690.0                 73.0                 73.0
4065                 NaN     5779.0                 74.0                 74.0
4077                 NaN     5539.0                 73.0                 73.0
4088                 NaN     4782.0                129.0                129.0

      star_detected_disc  star_magnetic_field  \
400                  NaN                  NaN
465                  NaN                  NaN
477                  NaN                  NaN
1164                 NaN                  NaN
1690                 NaN                  NaN
...                  ...                  ...
4039                 NaN                  NaN
4051                 NaN                  NaN
4065                 NaN                  NaN
4077                 NaN                  NaN
4088                 NaN                  NaN

                                   star_alternate_names
400                                                 NaN
465                                                 NaN
477                               MASS 05523523-1901539
1164                                                NaN
1690  KOI-1257, 2MASS J19245404+4455385, KIC 8751933...
...                                                 ...
4039  KIC 8349582, KOI-122, 2MASS J18575579+4423529,...
4051  KIC 5383248, KOI-261, 2MASS J19481670+4031304,...
4065  KOI-292, 2MASS J19091838+4840243, KIC 11075737...
4077  Kepler-98, 2MASS J19023879+3757522, KIC 269237...
4088  KOI-305, KIC 6063220, 2MASS J19492496+4118001,...

[769 rows x 98 columns]

Отсортируем результат в порядке убывания радиуса.

**print(exo_small_14.sort_values(by = 'radius', ascending = False))**

In [ ]:
import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
print(exo_small_14.sort_values(by = 'radius', ascending = False))

import pandas as pd
exoplanet = pd.read_csv('exoplanet_catalog.csv')
exo_small_14 = exoplanet[ (exoplanet['radius']<1) & (exoplanet['discovered']==2014)]
print(exo_small_14.sort_values(by = 'radius', ascending = False))

            # name planet_status     mass  mass_error_min  mass_error_max  \
477       HATS-6 b     Confirmed  0.31900         0.07000         0.07000
3329  Kepler-425 b     Confirmed  0.25000         0.08000         0.08000
3319  Kepler-419 b     Confirmed  2.50000         0.30000         0.30000
400     HAT-P-54 b     Confirmed  0.76000         0.03200         0.03200
1690    KOI-1257 b     Confirmed  1.45000         0.35000         0.35000
...            ...           ...      ...             ...             ...
2263  Kepler-141 b     Confirmed      NaN             NaN             NaN
1745  Kepler-102 c     Confirmed  0.00944         0.00944         0.00000
2221  Kepler-138 b     Confirmed  0.00021         0.00012         0.00019
1744  Kepler-102 b     Confirmed  0.01353         0.01353         0.00000
3258  Kepler-391 b     Confirmed      NaN             NaN             NaN

      mass_sini  mass_sini_error_min  mass_sini_error_max   radius  \
477         NaN                  NaN                  NaN  0.99800
3329      0.250                 0.08                 0.08  0.97800
3319        NaN                  NaN                  NaN  0.96000
400         NaN                  NaN                  NaN  0.94400
1690        NaN                  NaN                  NaN  0.94000
...         ...                  ...                  ...      ...
2263        NaN                  NaN                  NaN  0.06200
1745      0.009                  inf                  NaN  0.05200
2221        NaN                  NaN                  NaN  0.04700
1744        NaN                  NaN                  NaN  0.04200
3258        NaN                  NaN                  NaN  0.02543

      radius_error_min  ...  star_sp_type  star_age  star_age_error_min  \
477             0.0190  ...           M1V       NaN                 NaN
3329            0.0220  ...          K1 V      5.00                 4.0
3319            0.1200  ...           NaN      2.80                 1.3
400             0.0280  ...             K      3.90                 2.1
1690            0.1200  ...          G5 V      9.30                 3.0
...                ...  ...           ...       ...                 ...
2263            0.0040  ...           NaN       NaN                 NaN
1745            0.0020  ...           NaN      1.41                 NaN
2221            0.0030  ...          M1 V       NaN                 NaN
1744            0.0020  ...           NaN      1.41                 NaN
3258            0.0062  ...           NaN       NaN                 NaN

      star_age_error_max  star_teff  star_teff_error_min  star_teff_error_max  \
477                  NaN     3724.0                 18.0                 18.0
3329                 4.0     5170.0                 70.0                 70.0
3319                 1.3     6430.0                 79.0                 79.0
400                  4.3     4390.0                 50.0                 50.0
1690                 3.0     5520.0                 80.0                 80.0
...                  ...        ...                  ...                  ...
2263                 NaN     4910.0                100.0                100.0
1745                 NaN     4909.0                 41.0                 41.0
2221                 NaN     3841.0                 49.0                 49.0
1744                 NaN     4909.0                 41.0                 41.0
3258                 NaN     4940.0                100.0                100.0

      star_detected_disc  star_magnetic_field  \
477                  NaN                  NaN
3329                 NaN                  NaN
3319                 NaN                  NaN
400                  NaN                  NaN
1690                 NaN                  NaN
...                  ...                  ...
2263                 NaN                  NaN
1745                 NaN                  NaN
2221                 NaN                  NaN
1744                 NaN                  NaN
3258                 NaN                  NaN

                                   star_alternate_names
477                               MASS 05523523-1901539
3329  2MASS J19212592+4034038, KIC 5357901, KOI-188,...
3319  KOI-1474, 2MASS J19414029+5111051, KIC 1236518...
400                                                 NaN
1690  KOI-1257, 2MASS J19245404+4455385, KIC 8751933...
...                                                 ...
2263  2MASS J19515301+4743540, KIC 10552611, KOI-338...
1745  KOI-82, KIC 10187017, 2MASS J18455585+4712289,...
2221  KOI-314, 2MASS J19213157+4317347, KIC 7603200,...
1744  KOI-82, KIC 10187017, 2MASS J18455585+4712289,...
3258  2MASS J19222923+5103262, KIC 12306058, KOI-254...

[769 rows x 98 columns]
            # name planet_status     mass  mass_error_min  mass_error_max  \
477       HATS-6 b     Confirmed  0.31900         0.07000         0.07000
3329  Kepler-425 b     Confirmed  0.25000         0.08000         0.08000
3319  Kepler-419 b     Confirmed  2.50000         0.30000         0.30000
400     HAT-P-54 b     Confirmed  0.76000         0.03200         0.03200
1690    KOI-1257 b     Confirmed  1.45000         0.35000         0.35000
...            ...           ...      ...             ...             ...
2263  Kepler-141 b     Confirmed      NaN             NaN             NaN
1745  Kepler-102 c     Confirmed  0.00944         0.00944         0.00000
2221  Kepler-138 b     Confirmed  0.00021         0.00012         0.00019
1744  Kepler-102 b     Confirmed  0.01353         0.01353         0.00000
3258  Kepler-391 b     Confirmed      NaN             NaN             NaN

      mass_sini  mass_sini_error_min  mass_sini_error_max   radius  \
477         NaN                  NaN                  NaN  0.99800
3329      0.250                 0.08                 0.08  0.97800
3319        NaN                  NaN                  NaN  0.96000
400         NaN                  NaN                  NaN  0.94400
1690        NaN                  NaN                  NaN  0.94000
...         ...                  ...                  ...      ...
2263        NaN                  NaN                  NaN  0.06200
1745      0.009                  inf                  NaN  0.05200
2221        NaN                  NaN                  NaN  0.04700
1744        NaN                  NaN                  NaN  0.04200
3258        NaN                  NaN                  NaN  0.02543

      radius_error_min  ...  star_sp_type  star_age  star_age_error_min  \
477             0.0190  ...           M1V       NaN                 NaN
3329            0.0220  ...          K1 V      5.00                 4.0
3319            0.1200  ...           NaN      2.80                 1.3
400             0.0280  ...             K      3.90                 2.1
1690            0.1200  ...          G5 V      9.30                 3.0
...                ...  ...           ...       ...                 ...
2263            0.0040  ...           NaN       NaN                 NaN
1745            0.0020  ...           NaN      1.41                 NaN
2221            0.0030  ...          M1 V       NaN                 NaN
1744            0.0020  ...           NaN      1.41                 NaN
3258            0.0062  ...           NaN       NaN                 NaN

      star_age_error_max  star_teff  star_teff_error_min  star_teff_error_max  \
477                  NaN     3724.0                 18.0                 18.0
3329                 4.0     5170.0                 70.0                 70.0
3319                 1.3     6430.0                 79.0                 79.0
400                  4.3     4390.0                 50.0                 50.0
1690                 3.0     5520.0                 80.0                 80.0
...                  ...        ...                  ...                  ...
2263                 NaN     4910.0                100.0                100.0
1745                 NaN     4909.0                 41.0                 41.0
2221                 NaN     3841.0                 49.0                 49.0
1744                 NaN     4909.0                 41.0                 41.0
3258                 NaN     4940.0                100.0                100.0

      star_detected_disc  star_magnetic_field  \
477                  NaN                  NaN
3329                 NaN                  NaN
3319                 NaN                  NaN
400                  NaN                  NaN
1690                 NaN                  NaN
...                  ...                  ...
2263                 NaN                  NaN
1745                 NaN                  NaN
2221                 NaN                  NaN
1744                 NaN                  NaN
3258                 NaN                  NaN

                                   star_alternate_names
477                               MASS 05523523-1901539
3329  2MASS J19212592+4034038, KIC 5357901, KOI-188,...
3319  KOI-1474, 2MASS J19414029+5111051, KIC 1236518...
400                                                 NaN
1690  KOI-1257, 2MASS J19245404+4455385, KIC 8751933...
...                                                 ...
2263  2MASS J19515301+4743540, KIC 10552611, KOI-338...
1745  KOI-82, KIC 10187017, 2MASS J18455585+4712289,...
2221  KOI-314, 2MASS J19213157+4317347, KIC 7603200,...
1744  KOI-82, KIC 10187017, 2MASS J18455585+4712289,...
3258  2MASS J19222923+5103262, KIC 12306058, KOI-254...

[769 rows x 98 columns]

Самая крупная планета, Kepler 106 d – почти как Земля, вращается вокруг звезды Kepler 106 в созвездии Лебедя. Эта звезда очень похожа на наше Солнце. Правда, до неё 1435 световых лет — далековато. Но, возможно, учёные что-нибудь придумают. А мы пока применим эту технологию к нашему бизнесу, в «приземлённой» задаче.
## Задача

1. Космический телескоп Kepler открыл похожую на Землю планету у похожей на Солнце звезды. А вы в данных Яндекс.Музыки обнаружили меломана с уникальными данными. Он за день послушал больше 50 композиций.
Получите таблицу с прослушанными им треками.

Для этого запросите из структуры данных df строки, отвечающие сразу двум условиям:

1) значение в столбце 'user_id' должно быть равно значению переменной search_id;

2) время прослушивания, т.е. значение в столбце 'total_play_seconds', не должно равняться 0.

Сохраните результат в переменной music_user.

2. Теперь узнаем, сколько времени он слушал музыку каждого жанра.

Сгруппируйте данные таблицы music_user по столбцу 'genre_name' и получите сумму значений столбца 'total_play_seconds'. Сохраните результат в переменной sum_music_user и выведите её значение на экран.

3. Кажется, предпочтения нашего меломана начинают проявляться. Но, возможно, длительность композиций от жанра к жанру сильно различается. Важно знать, сколько треков каждого жанра он включил.

Сгруппируйте данные по столбцу genre_name и посчитайте, сколько значений в столбце genre_name. Сохраните результат в переменной count_music_user и выведите её значение на экран.

4. Чтобы предпочтения были видны сразу, нужно крупнейшие значения расположить наверху. Отсортируйте данные в группировке sum_music_user по убыванию. Внимание: когда применяете метод sort_values() к Series с единственным столбцом, аргумент by указывать не нужно, только порядок сортировки.

Сохраните результат в переменной final_sum и выведите её значение на экран.

5. Теперь то же самое надо сделать с числом прослушанных меломаном композиций. Отсортируйте данные группировки count_music_user по убыванию. Сохраните результат в переменной final_count, значение которой выведите на экран.

In [ ]:
import pandas as pd
df = pd.read_csv('yandex_music (2).csv')

search_id = '55204538'
music_user = df[(df['  userID'] == search_id) & (df['time'] != 0)]

sum_music_user = music_user.groupby('genre')['time'].sum()
print('Время прослушивания по жанрам:')
print(sum_music_user)

count_music_user = music_user.groupby('genre')['genre'].count()
print('Количество прослушанных треков по жанрам:')
print(count_music_user)

final_sum = sum_music_user.sort_values(ascending=False)
print('Сортировка по времени прослушивания:')
print(final_sum)

final_count = count_music_user.sort_values(ascending=False)
print('Сортировка по количеству прослушанных треков:')
print(final_count)

Время прослушивания по жанрам:
genre
postrock    14:47:16
rock        14:07:09
Name: time, dtype: object
Количество прослушанных треков по жанрам:
genre
postrock    1
rock        1
Name: genre, dtype: int64
Сортировка по времени прослушивания:
genre
postrock    14:47:16
rock        14:07:09
Name: time, dtype: object
Сортировка по количеству прослушанных треков:
genre
postrock    1
rock        1
Name: genre, dtype: int64